
tmp/*.php



Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/



.DS_Store
.AppleDouble
.LSOverride
Icon


._*

.Spotlight-V100
.Trashes



*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

.org-id-locations
*_archive



.*.sw[a-z]
*.un~
Session.vim
.netrwhist

